body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(116, 177, 112);
    max-height: 90vh;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 128);
    text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.7);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#move-counter {
    font-size: 22px;
}

h1 {
    margin-bottom: 0px;
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

img {
    display: block;
    width: 200px;
    cursor: pointer;
}

table {
    background-color: black;
    border-radius: 22px;
}

td {
    border: 2px solid gray;
}

#tile1 {
    border-top-left-radius: 20px;
}

#tile1 img {
    border-top-left-radius: 20px;
}

#tile3 {
    border-top-right-radius: 20px;
}

#tile3 img {
    border-top-right-radius: 20px;
}

#tile7 {
    border-bottom-left-radius: 20px;
}

#tile7 img {
    border-bottom-left-radius: 20px;
}

#tile9 {
    border-bottom-right-radius: 20px;
}

#tile9 img {
    border-bottom-right-radius: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    border-style: none;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(72, 179, 255);
}

button:hover {
    cursor: pointer;
    background-color: rgb(58, 139, 196);
}

#win-text {
    font-size: 30px;
    color: greenyellow;
    background-color: green;
}

#winners {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 100px;
    top: 200px;
}

#win-details {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

#all-moves {
    font-size: 23px;
    margin: 0px;
    color: rgb(198, 183, 22);
    text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#counter {
    font-size: 23px;
    margin: 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}